<footer class="footer">
    <div class="footer-bg"></div>
    <div class="container">
      <div class="footer-top">
         <div class="footer-pay">
            <img class="footer-pay__logo" src="../images/logo-footer.svg" alt="">
            <p class="footer-pay__content">Любая форма оплаты</p>
            <div class="footer-pay__bank">
            <img src="../images/wallet.svg" alt="">
            <img src="../images/sberbank.svg" alt="">
            <img src="../images/visa.svg" alt="">
            <img src="../images/alfa.svg" alt="">
            <img src="../images/mastercard.svg" alt="">
         </div>
         </div>
      </div>
    </div>
</footer>
   
   <script src="js/main.min.js"></script>
</body>
</html>
