<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="css/style.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css"
    />
  </head>
  <body>
    <header class="header">
      <div class="container">
        <div class="nav">
          <img src="../images/Logo.svg" alt="logo" class="nav__logo" />
          <ul class="nav__list">
            <li class="nav__item"><a class="nav__link" href="#">Цены</a></li>
            <li class="nav__item"><a class="nav__link" href="#">Услуги</a></li>
            <li class="nav__item">
              <a class="nav__link" href="#">Портфолио</a>
            </li>
            <li class="nav__item"><a class="nav__link" href="#">Акции</a></li>
            <li class="nav__item">
              <a class="nav__link" href="#">Преимущества</a>
            </li>
            <li class="nav__item"><a class="nav__link" href="#">Блог</a></li>
            <li class="nav__item">
              <a class="nav__link" href="#">Контакты</a>
            </li>
          </ul>
          <div class="phone">
            <div class="phone__wrap">
              <img src="../images/Phone.svg" alt="phone" />
              <a href="tel:+72332222222">+7 (233) 222-22-22</a>
            </div>
            <p class="phone__text">08:00 - 22:00, без выходных</p>
          </div>
          <a href="#" class="nav__btn">Заказать звонок</a>
        </div>
        <div class="header-wrap">
          <div class="dropdown">
            <button class="dropdown__btn">
              Ремонт квартир<i class="fa fa-chevron-down"></i>
            </button>
            <div class="dropdown-content">
              <a href="#">Черновой</a>
              <a href="#">Косметический</a>
              <a href="#">Капитальный</a>
              <a href="#">Элитный</a>
              <a href="#">В новостройках</a>
              <a href="#">Студии</a>
              <a href="#">Вторичное жилье</a>
            </div>
          </div>
          <div class="dropdown">
            <button class="dropdown__btn">
              Дизайн квартир<i class="fa fa-chevron-down"></i>
            </button>
            <div class="dropdown-content">
              <a href="#">Дизайн кухни</a>
              <a href="#">Дизайн спальни</a>
              <a href="#">Дизайн гостинной</a>
              <a href="#">Дизайн детской</a>
              <a href="#">Дизайн санузла</a>
              <a href="#">Дизайн коридора</a>
              <a href="#">Дизайн балкона</a>
            </div>
          </div>
          <div class="dropdown">
            <button class="dropdown__btn">
              Ремонт комнат<i class="fa fa-chevron-down"></i>
            </button>
            <div class="dropdown-content">
              <a href="#">Кухни</a>
              <a href="#">Спальни</a>
              <a href="#">Гостинная</a>
              <a href="#">Детские</a>
              <a href="#">Санузлы</a>
              <a href="#">Коридоры</a>
              <a href="#">Балконы</a>
            </div>
          </div>
          <button class="dropdown__btn">Дома и котеджи</button>
          <button class="dropdown__btn">Прочие услуги</button>
        </div>
      </div>
    </header>
  </body>
</html>
