<section class="price">
    <div class="container">
      <h2 class="price__title">Цены на ремонт</h2>
      <div class="price__box">
        <div class="price-card">
          <div class="price-card__wrapper-up">
            <img src="../images/price.webp" alt="" />
            <div class="price-card__wrapper-up-text">
              <h3 class="price-card__subtitle">Косметический</h3>
              <p class="price-card__day">от 5 дней</p>
            </div>
          </div>
          <p class="price-card__text">
            Такой тип ремонта подойдёт для того чтобы «освежить» ремонт в
            квартире: заменить покрытие стен, пола и потолка без предварительной
            подготовки
          </p>
          <hr class="price-card__line" />
          <div
            class="price-card__wrapper-middle price-card__wrapper-middle_first-card"
          >
            <p>Демонтаж</p>
            <ul class="price-card__dismantling">
              <li>Демонтаж старых покрытий</li>
              <li>Демонтаж старой электрики</li>
            </ul>
            <p>Черновые работы</p>
            <ul class="price-card__dismantling">
              <li>Грунтовка стен и пола</li>
            </ul>
            <p>Чистовые работы</p>
          </div>
          <div class="price-card__wrapper-down">
            <p class="price-card__wrapper-down-textone">
              Список работ<img src="../images/arrow-down.svg" alt="" />
            </p>
            <p class="price-card__wrapper-down-texttwo">
              <strike>от 3 245 руб/м2</strike><span> от 2 450 руб/м2</span>
            </p>
          </div>
          <button class="price-card__btn">Получить смету</button>
        </div>
        <div class="price-card">
          <div class="price-card__wrapper-up">
            <img src="../images/price.webp" alt="" />
            <div class="price-card__wrapper-up-text">
              <h3 class="price-card__subtitle">Капитальный</h3>
              <p class="price-card__day">от 14 дней</p>
            </div>
          </div>
          <p class="price-card__text">
            Такой тип ремонта подойдет, если требкеться отремонтировать
            квартиру: выровнять стены, сделать стяжку полов, проложить инженерию
            и выполнить чистовую отделку.
          </p>
          <hr class="price-card__line" />
          <div class="price-card__wrapper-middle">
            <p>Демонтаж</p>
            <ul class="price-card__dismantling">
              <li>Демонтаж старых покрытий</li>
              <li>Демонтаж старой электрики</li>
            </ul>
            <p>Черновые работы</p>
            <ul class="price-card__dismantling">
              <li>Грунтовка стен и пола</li>
              <li>Шпатлевка и штукатурка стен</li>
              <li class="price-card__dismantling_grey">
                Устройство наливных полов
              </li>
            </ul>
          </div>
          <div class="price-card__wrapper-down">
            <p class="price-card__wrapper-down-textone">
              Список работ<img src="../images/arrow-down.svg" alt="" />
            </p>
            <p class="price-card__wrapper-down-texttwo">
              <strike>от 5 445 руб/м2</strike><span> от 4 950 руб/м2</span>
            </p>
          </div>
          <button class="price-card__btn">Получить смету</button>
        </div>
        <div class="price-card">
          <div class="price-card__wrapper-up">
            <img src="../images/price.webp" alt="" />
            <div class="price-card__wrapper-up-text">
              <h3 class="price-card__subtitle">Под ключ</h3>
              <p class="price-card__day">от 11 дней</p>
            </div>
          </div>
          <p class="price-card__text">
            Ремонт класса «евро» — капитальный ремонт с применением современных
            отделочных материалов и стандартов, включающий перепланировку.
          </p>
          <hr class="price-card__line" />
          <div class="price-card__wrapper-middle">
            <p>Демонтаж</p>
            <ul class="price-card__dismantling">
              <li>Демонтаж старых покрытий</li>
              <li>Демонтаж старой электрики</li>
              <li>Демонтаж дверей</li>
            </ul>
            <p>Черновые работы</p>
            <ul class="price-card__dismantling">
              <li>Грунтовка стен и пола</li>
              <li class="price-card__dismantling_grey">
                Шпатлевка и штукатурка стен
              </li>
            </ul>
          </div>
          <div class="price-card__wrapper-down">
            <p class="price-card__wrapper-down-textone">
              Список работ<img src="../images/arrow-down.svg" alt="" />
            </p>
            <p class="price-card__wrapper-down-texttwo">
              <strike>от 5 995 руб/м2</strike><span> от 5 450 руб/м2</span>
            </p>
          </div>
          <button class="price-card__btn">Получить смету</button>
        </div>
        <div class="price-card">
          <div class="price-card__wrapper-up">
            <img src="../images/price.webp" alt="" />
            <div class="price-card__wrapper-up-text">
              <h3 class="price-card__subtitle">Дизайнерский</h3>
              <p class="price-card__day">от 20 дней</p>
            </div>
          </div>
          <p class="price-card__text">
            Дизайнерский ремонт ориентирован для настоящих ценителей комфорта,
            эстетики и внутреннего удобства.
          </p>
          <hr class="price-card__line" />
          <div class="price-card__wrapper-middle">
            <p>Демонтаж</p>
            <ul class="price-card__dismantling">
              <li>Демонтаж старых покрытий</li>
              <li>Демонтаж старой электрики</li>
              <li>Демонтаж дверей</li>
            </ul>
            <p>Черновые работы</p>
            <ul class="price-card__dismantling">
              <li>Грунтовка стен и пола</li>
              <li class="price-card__dismantling_grey">
                Шпатлевка и штукатурка стен
              </li>
            </ul>
          </div>
          <div class="price-card__wrapper-down">
            <p class="price-card__wrapper-down-textone">
              Список работ<img src="../images/arrow-down.svg" alt="" />
            </p>
            <p class="price-card__wrapper-down-texttwo">
              <strike>от 9 800 руб/м2</strike><span> от 7 500 руб/м2</span>
            </p>
          </div>
          <button class="price-card__btn">Получить смету</button>
        </div>
      </div>
    </div>
  </section>