<section class="questions">
    <div class="container">
        <h2 class="questions__title title">Вопросы и ответы</h2>
        <p class="questions__text">Знаем, о чем вы думаете прямо сейчас</p>
        <div class="accordion">
          <div class="accordion-item">
            <div class="accordion-title">Можно ли приехать к вам, что бы познакомиться?</div>
            <div class="accordion-content hidden">Конечно! Будем рады видеть Вас в офисе по адресу:</div>
          </div>
          <div class="accordion-item">
            <div class="accordion-title">Сколько лет работает компания?</div>
            <div class="accordion-content hidden">Конечно! Будем рады видеть Вас в офисе по адресу:</div>
          </div>
          <div class="accordion-item">
            <div class="accordion-title">Сколько человек работает в “МаксПрофф”?</div>
            <div class="accordion-content hidden">Конечно! Будем рады видеть Вас в офисе по адресу:</div>
          </div>
          <div class="accordion-item">
            <div class="accordion-title">Какие гарантии дает компания и на какие работы они распространяются?</div>
            <div class="accordion-content hidden">Конечно! Будем рады видеть Вас в офисе по адресу:</div>
          </div>
      </div>
      <div class="consultation">
        <p class="consultation__subtitle">Нужна консультация?</p>
        <p class="consultation__content">Подробно расскажем о наших услугах, видах работ и типовых проектах, рассчитаем стоимость и подготовим индивидуальное предложение!</p>
        <button class="consultation__btn">Оставить заявку</button>
      </div>
    </div>
    <div class="consultation-bg"></div>
</section>