<section class="sklad">
    <div class="container">
        <h2 class="sklad__title title">Свой склад и шоурум материалов наших <br> партнеров в Москве</h2>
        <div class="sklad__wrapper">
            <div class="sklad__wrapper-item">
                <div class="img-wrapper">
                    <img src="../images/official-documents.svg" alt="">
                    <div class="img-wrapper__circle img-wrapper__circle1"></div>
                </div>
                <p>Прямой договор <br> с поставщиками</p>
            </div>
            <div class="sklad__wrapper-item">
                <div class="img-wrapper">
                    <img src="../images/deliver.svg" alt="">
                    <div class="img-wrapper__circle img-wrapper__circle2"></div>
                </div>
                <p>Доставка и подьём <br> в квартиру</p>
            </div>
            <div class="sklad__wrapper-item">
                <div class="img-wrapper">
                    <img src="../images/brick.svg" alt="">
                    <div class="img-wrapper__circle img-wrapper__circle3"></div>
                </div>
                <p>300 тонн черновых и <br> чистовых материалов</p>
            </div>
            <div class="sklad__wrapper-item">
                <div class="img-wrapper">
                    <img src="../images/carpet.svg" alt="">
                    <div class="img-wrapper__circle img-wrapper__circle4"></div>
                </div>
                <p>250 видов обоев <br>
                    25 видов ламината <br>
                    50 видов плитки и плинтуса</p>
            </div>
            <div class="sklad__wrapper-item">
                <div class="img-wrapper">
                    <img src="../images/brochure.svg" alt="">
                    <div class="img-wrapper__circle img-wrapper__circle5"></div>
                </div>
                <p>Выезд специалиста с <br> каталогом материалов</p>
            </div>
        </div>
        <img src="../images/texture.webp" alt="" class="sklad__img1">
        <img src="../images/textiles.webp" alt="">
    </div>
</section>