<div class="stocks">
  <div class="container">
    <h2 class="stocks__title title">Акции</h2>
    <div class="stocks__wrapper">
      <div class="stocks__card stocks-card">
        <img src="../images/stocks-1.webp" alt="">
        <div class="stocks-card__wrapper">
            <h3 class="stocks-card__title">Новоселам</h3>
            <p class="stocks-card__text">Специальная скидка для тех кто <br> переехал не более года назад</p>
            <button class="stocks-card__btn btn">Получить скидку</button>
        </div>
        <div class="stocks-card__gradient"></div>
      </div>
      <div class="stocks__card stocks-card">
        <img src="../images/stocks-2.webp" alt="">
        <div class="stocks-card__wrapper">
            <h3 class="stocks-card__title">Молодоженам</h3>
            <p class="stocks-card__text">Спец.скидка если с момента <br> регистрации прошло не более года</p>
            <button class="stocks-card__btn btn">Получить скидку</button>
        </div>
        <div class="stocks-card__gradient"></div>
      </div>
      <div class="stocks__card stocks-card">
        <img src="../images/stocks-3.webp" alt="">
        <div class="stocks-card__wrapper">
            <h3 class="stocks-card__title">Пенсионерам</h3>
            <p class="stocks-card__text">Специальная скидка для наших <br> дорогих</p>
            <button class="stocks-card__btn btn">Получить скидку</button>
        </div>
        <div class="stocks-card__gradient"></div>
      </div>
    </div>
    <div class="stocks__btn">
    <button class="btn">Все акции</button>
    </div>
  </div>
</div>
