<div class="stocks">
  <div class="container">
    <h2 class="stocks__title title">Акции</h2>
    <div class="stocks__wrapper">
      <div class="stocks__card stocks-card">
        <img src="../images/stocks-1.webp" alt="" />
        <div class="stocks-card__wrapper">
          <h3 class="stocks-card__title">Новоселам</h3>
          <p class="stocks-card__text">
            Специальная скидка для тех кто <br />
            переехал не более года назад
          </p>
          <button class="stocks-card__btn btn">Получить скидку</button>
        </div>
        <div class="stocks-card__gradient"></div>
      </div>
      <div class="stocks__card stocks-card">
        <img src="../images/stocks-2.webp" alt="" />
        <div class="stocks-card__wrapper">
          <h3 class="stocks-card__title">Молодоженам</h3>
          <p class="stocks-card__text">
            Спец.скидка если с момента <br />
            регистрации прошло не более года
          </p>
          <button class="stocks-card__btn btn">Получить скидку</button>
        </div>
        <div class="stocks-card__gradient"></div>
      </div>
      <div class="stocks__card stocks-card">
        <img src="../images/stocks-3.webp" alt="" />
        <div class="stocks-card__wrapper">
          <h3 class="stocks-card__title">Пенсионерам</h3>
          <p class="stocks-card__text">
            Специальная скидка для наших <br />
            дорогих
          </p>
          <button class="stocks-card__btn btn">Получить скидку</button>
        </div>
        <div class="stocks-card__gradient"></div>
      </div>
    </div>
    <div class="stocks__btn">
      <button class="btn">Все акции</button>
    </div>
    <div class="jobs">
      <div class="jobs-content">
        <h2 class="jobs__title title">Как мы работаем</h2>
        <p class="jobs__text">
          Вам понятен каждый этап: фиксированные сроки и цены, предоставляем все
          документы: накладные, гарантии, акты. Вы будете уверены в результате.
        </p>
      </div>
      <div class="jobs__wrapper-svg">
        <div class="jobs-card__img">
          <img src="../images/builder.svg" alt="" />
          <svg
            class="jobs-card__img_ellipse1"
            xmlns="http://www.w3.org/2000/svg"
            width="20"
            height="21"
            viewBox="0 0 20 21"
            fill="none"
          >
            <ellipse cx="10" cy="10.5" rx="10" ry="10.5" fill="#6CAC3D" />
          </svg>
        </div>
        <div class="jobs-card__img">
          <img src="../images/consent.svg" alt="" />
          <svg
            class="jobs-card__img_ellipse2"
            xmlns="http://www.w3.org/2000/svg"
            width="20"
            height="21"
            viewBox="0 0 20 21"
            fill="none"
          >
            <ellipse cx="10" cy="10.5" rx="10" ry="10.5" fill="#6CAC3D" />
          </svg>
        </div>
        <div class="jobs-card__img">
          <img src="../images/official-documents.svg" alt="" />
          <svg
            class="jobs-card__img_ellipse3"
            xmlns="http://www.w3.org/2000/svg"
            width="20"
            height="21"
            viewBox="0 0 20 21"
            fill="none"
          >
            <ellipse cx="10" cy="10.5" rx="10" ry="10.5" fill="#6CAC3D" />
          </svg>
        </div>
        <div class="jobs-card__img">
          <img src="../images/gdpr.svg" alt="" />
          <svg
            class="jobs-card__img_ellipse4"
            xmlns="http://www.w3.org/2000/svg"
            width="20"
            height="21"
            viewBox="0 0 20 21"
            fill="none"
          >
            <ellipse cx="10" cy="10.5" rx="10" ry="10.5" fill="#6CAC3D" />
          </svg>
        </div>
        <div class="jobs-card__img">
          <img src="../images/cctv.svg" alt="" class="img5" />
          <svg
            class="jobs-card__img_ellipse5"
            xmlns="http://www.w3.org/2000/svg"
            width="20"
            height="21"
            viewBox="0 0 20 21"
            fill="none"
          >
            <ellipse cx="10" cy="10.5" rx="10" ry="10.5" fill="#6CAC3D" />
          </svg>
        </div>
        <div class="jobs-card__img">
          <img src="../images/contract.svg" alt="" />
          <svg
            class="jobs-card__img_ellipse6"
            xmlns="http://www.w3.org/2000/svg"
            width="20"
            height="21"
            viewBox="0 0 20 21"
            fill="none"
          >
            <ellipse cx="10" cy="10.5" rx="10" ry="10.5" fill="#6CAC3D" />
          </svg>
        </div>
        <div class="jobs-card__img">
          <img src="../images/cooperation.svg" alt="" />
          <svg
            class="jobs-card__img_ellipse7"
            xmlns="http://www.w3.org/2000/svg"
            width="20"
            height="21"
            viewBox="0 0 20 21"
            fill="none"
          >
            <ellipse cx="10" cy="10.5" rx="10" ry="10.5" fill="#6CAC3D" />
          </svg>
        </div>
        <div class="jobs-card__img">
          <img src="../images/guarantee.svg" alt="" />
          <svg
            class="jobs-card__img_ellipse8"
            xmlns="http://www.w3.org/2000/svg"
            width="20"
            height="21"
            viewBox="0 0 20 21"
            fill="none"
          >
            <ellipse cx="10" cy="10.5" rx="10" ry="10.5" fill="#6CAC3D" />
          </svg>
        </div>
      </div>
      <div class="jobs__wrapper-text">
          <p>Бесплатный выезд замерщика</p>
          <p>
            Смета <br />
            в день обращения
          </p>
          <p>Договор</p>
          <p>Накладные
            материалы</p>
          <p>Контроль: фотоотчёт или видеонаблюдение</p>
          <p>Акт
              выполненных работ</p>
          <p>Акт приемки
              работ по договору</p>
          <p>Гарантия на
            выполненные работы</p>
      </div>
      <div class="jobs__line">
        <div class="circle">
        <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" viewBox="0 0 26 26" fill="none">
          <circle cx="13" cy="13" r="12" fill="#F2F2F2" stroke="white" stroke-width="2"/>
        </svg>
        <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" viewBox="0 0 26 26" fill="none">
          <circle cx="13" cy="13" r="12" fill="#F2F2F2" stroke="white" stroke-width="2"/>
        </svg>
        <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" viewBox="0 0 26 26" fill="none">
          <circle cx="13" cy="13" r="12" fill="#F2F2F2" stroke="white" stroke-width="2"/>
        </svg>
        <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" viewBox="0 0 26 26" fill="none">
          <circle cx="13" cy="13" r="12" fill="#F2F2F2" stroke="white" stroke-width="2"/>
        </svg>
        <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" viewBox="0 0 26 26" fill="none">
          <circle cx="13" cy="13" r="12" fill="#F2F2F2" stroke="white" stroke-width="2"/>
        </svg>
        <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" viewBox="0 0 26 26" fill="none">
          <circle cx="13" cy="13" r="12" fill="#F2F2F2" stroke="white" stroke-width="2"/>
        </svg>
        <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" viewBox="0 0 26 26" fill="none">
          <circle cx="13" cy="13" r="12" fill="#F2F2F2" stroke="white" stroke-width="2"/>
        </svg>
        <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" viewBox="0 0 26 26" fill="none">
          <circle cx="13" cy="13" r="12" fill="#F2F2F2" stroke="white" stroke-width="2"/>
        </svg>
      </div>
      </div>
    </div>
  </div>
</div>

