<section class="suppliers">
    <div class="suppliers__bg"></div>
    <div class="container">
        <h3 class="suppliers__title title">Только лучшие поставщики</h3>
        <p class="suppliers__text">В нашей работе мы используем самые качественные и проверенные годами материалы</p>
        <div class="suppliers-wrapper">
            <div class="suppliers-wrapper__left">
                <p class="suppliers-wrapper__left-text">Получите бесплатный сертификат на <br> чистовые материалы номиналом:</p>
                <p class="suppliers-wrapper__left-summ"><span>30 000</span> руб.</p>
                <button class="suppliers-wrapper__left-btn btn">Оставить заявку</button>
            </div>
            <div class="suppliers-wrapper__right">
                <img src="../images/knauf.svg" alt="">
                <img src="../images/Rehau.svg" alt="">
                <img src="../images/Roca.svg" alt="">
            </div>
        </div>
    </div>
</section>