<section class="examples">
  <div class="container">
    <h2 class="examples__title">Примеры наших работ</h2>
    <div class="examples__buttons">
      <button>Капитальный</button>
      <button>Косметиеский</button>
      <button>Под ключ</button>
      <button>Студии</button>
      <button>Черновой</button>
    </div>
    <div class="examples__radio-buttons">
      <div class="examples-form__group-radio">
        <input
          type="radio"
          class="examples-form__input-radio"
          id="radio11"
          name="checked"
        />
        <label for="radio11" class="examples-form__label-radio label-radio">
          <span class="examples-form__button-radio button-radio"></span>55 м2</label
        >
      </div>
      <div class="examples-form__group-radio">
        <input
          type="radio"
          class="examples-form__input-radio"
          id="radio12"
          name="checked"
        />
        <label for="radio12" class="examples-form__label-radio label-radio">
          <span class="examples-form__button-radio button-radio"></span>61 м2</label
        >
      </div>
      <div class="examples-form__group-radio">
        <input
          type="radio"
          class="examples-form__input-radio"
          id="radio13"
          name="checked"
        />
        <label for="radio13" class="examples-form__label-radio label-radio">
          <span class="examples-form__button-radio button-radio"></span>72 м2</label
        >
      </div>
      <div class="examples-form__group-radio">
        <input
          type="radio"
          class="examples-form__input-radio"
          id="radio14"
          name="checked"
        />
        <label for="radio14" class="examples-form__label-radio label-radio">
          <span class="examples-form__button-radio button-radio"></span>88 м2</label
        >
      </div>
      <div class="examples-form__group-radio">
        <input
          type="radio"
          class="examples-form__input-radio"
          id="radio15"
          name="checked"
        />
        <label for="radio15" class="examples-form__label-radio label-radio">
          <span class="examples-form__button-radio button-radio"></span>106 м2</label
        >
      </div>
      <div class="examples-form__group-radio">
        <input
          type="radio"
          class="examples-form__input-radio"
          id="radio16"
          name="checked"
        />
        <label for="radio16" class="examples-form__label-radio label-radio">
          <span class="examples-form__button-radio button-radio"></span>63 м2</label
        >
      </div>
      <div class="examples-form__group-radio">
        <input
          type="radio"
          class="examples-form__input-radio"
          id="radio17"
          name="checked"
        />
        <label for="radio17" class="examples-form__label-radio label-radio">
          <span class="examples-form__button-radio button-radio"></span>41 м2</label
        >
      </div>
    </div>
    <div class="examples__wrapper">
      <div class="slider__nav-and-tabs">

        <div class="slider__tabs">
          <button class="slider__tab"><img src="../images/discover-bg.webp" alt=""></button>
          <button class="slider__tab">
            <img src="../images/calculation-bg.webp" alt="" />
          </button>
          <button class="slider__tab"><img src="../images/home.svg" alt=""></button>
          <button class="slider__tab"><img src="../images/grid.svg" alt=""></button>
          <button class="slider__tab"><img src="../images/dollar.svg" alt=""></button>
        </div>
      </div>
      <div class="slider">
        <div class="slider__slide">
            <img src="../images/discover-bg.webp" alt="">
            <div class="slider-wrapper">
                <div class="slider-wrapper__inner">
                    <div class="slider-wrapper__inner-left">
                    <div class="slider-wrapper__inner-green">
                        <img src="../images/dollar.svg" alt="">
                        <p>Сумма:</p>
                    </div>
                    <div class="slider-wrapper__inner-green">
                        <img src="../images/grid.svg" alt="">
                        <p>Площадь:</p>
                    </div>
                    <div class="slider-wrapper__inner-green">
                        <img src="../images/calendar.svg" alt="">
                        <p>Срок:</p>
                    </div>
                    <div class="slider-wrapper__inner-green">
                        <img src="../images/home.svg" alt="">
                        <p>Комнат:</p>
                    </div>
                    <div class="slider-wrapper__inner-green">
                        <img src="../images/map-pin.svg" alt="">
                        <p>Адрес:</p>
                    </div>
                    <div class="slider-wrapper__inner-green">
                        <img src="../images/file-text.svg" alt="">
                        <p>Перечень работ:</p>
                    </div>
                </div>
                    <div class="slider-wrapper__inner-right">
                        <p>272 250 руб.</p>
                        <p>43 м2</p>
                        <p>90 дней</p>
                        <p>3</p>
                        <p>Кулика 18</p>
                    </div>
                </div>
                <ul>
                    <li>Штукатурка стен по маякам</li>
                    <li>Грунтовка стен и потолка</li>
                    <li>Монтаж натяжных потолков</li>
                    <li>Шпатлёвка стен под обои</li>
                    <li>Окраске стен</li>
                    <li>Укладка плитки в с/у</li>
                    <li>Прокладка электрики</li>
                    <li>Установка плинтусов и откосов</li>
                </ul>
            </div>
        </div>
        <div class="slider__slide"><img src="../images/calculation-bg.webp" alt="">
          <div class="slider-wrapper">
            <div class="slider-wrapper__inner">
                <div class="slider-wrapper__inner-left">
                <div class="slider-wrapper__inner-green">
                    <img src="../images/dollar.svg" alt="">
                    <p>Сумма:</p>
                </div>
                <div class="slider-wrapper__inner-green">
                    <img src="../images/grid.svg" alt="">
                    <p>Площадь:</p>
                </div>
                <div class="slider-wrapper__inner-green">
                    <img src="../images/calendar.svg" alt="">
                    <p>Срок:</p>
                </div>
                <div class="slider-wrapper__inner-green">
                    <img src="../images/home.svg" alt="">
                    <p>Комнат:</p>
                </div>
                <div class="slider-wrapper__inner-green">
                    <img src="../images/map-pin.svg" alt="">
                    <p>Адрес:</p>
                </div>
                <div class="slider-wrapper__inner-green">
                    <img src="../images/file-text.svg" alt="">
                    <p>Перечень работ:</p>
                </div>
            </div>
                <div class="slider-wrapper__inner-right">
                    <p>272 250 руб.</p>
                    <p>43 м2</p>
                    <p>90 дней</p>
                    <p>4</p>
                    <p>Кулика 18</p>
                </div>
            </div>
            <ul>
                <li>Штукатурка стен по маякам</li>
                <li>Грунтовка стен и потолка</li>
                <li>Монтаж натяжных потолков</li>
                <li>Шпатлёвка стен под обои</li>
                <li>Окраске стен</li>
                <li>Укладка плитки в с/у</li>
                <li>Прокладка электрики</li>
                <li>Установка плинтусов и откосов</li>
            </ul>
        </div>
        </div>
        <div class="slider__slide"><img src="../images/home.svg" alt="">
          <div class="slider-wrapper">
            <div class="slider-wrapper__inner">
                <div class="slider-wrapper__inner-left">
                <div class="slider-wrapper__inner-green">
                    <img src="../images/dollar.svg" alt="">
                    <p>Сумма:</p>
                </div>
                <div class="slider-wrapper__inner-green">
                    <img src="../images/grid.svg" alt="">
                    <p>Площадь:</p>
                </div>
                <div class="slider-wrapper__inner-green">
                    <img src="../images/calendar.svg" alt="">
                    <p>Срок:</p>
                </div>
                <div class="slider-wrapper__inner-green">
                    <img src="../images/home.svg" alt="">
                    <p>Комнат:</p>
                </div>
                <div class="slider-wrapper__inner-green">
                    <img src="../images/map-pin.svg" alt="">
                    <p>Адрес:</p>
                </div>
                <div class="slider-wrapper__inner-green">
                    <img src="../images/file-text.svg" alt="">
                    <p>Перечень работ:</p>
                </div>
            </div>
                <div class="slider-wrapper__inner-right">
                    <p>272 250 руб.</p>
                    <p>43 м2</p>
                    <p>90 дней</p>
                    <p>5</p>
                    <p>Кулика 18</p>
                </div>
            </div>
            <ul>
                <li>Штукатурка стен по маякам</li>
                <li>Грунтовка стен и потолка</li>
                <li>Монтаж натяжных потолков</li>
                <li>Шпатлёвка стен под обои</li>
                <li>Окраске стен</li>
                <li>Укладка плитки в с/у</li>
                <li>Прокладка электрики</li>
                <li>Установка плинтусов и откосов</li>
            </ul>
        </div>
        </div>
        <div class="slider__slide"><img src="../images/grid.svg" alt="">
          <div class="slider-wrapper">
            <div class="slider-wrapper__inner">
                <div class="slider-wrapper__inner-left">
                <div class="slider-wrapper__inner-green">
                    <img src="../images/dollar.svg" alt="">
                    <p>Сумма:</p>
                </div>
                <div class="slider-wrapper__inner-green">
                    <img src="../images/grid.svg" alt="">
                    <p>Площадь:</p>
                </div>
                <div class="slider-wrapper__inner-green">
                    <img src="../images/calendar.svg" alt="">
                    <p>Срок:</p>
                </div>
                <div class="slider-wrapper__inner-green">
                    <img src="../images/home.svg" alt="">
                    <p>Комнат:</p>
                </div>
                <div class="slider-wrapper__inner-green">
                    <img src="../images/map-pin.svg" alt="">
                    <p>Адрес:</p>
                </div>
                <div class="slider-wrapper__inner-green">
                    <img src="../images/file-text.svg" alt="">
                    <p>Перечень работ:</p>
                </div>
            </div>
                <div class="slider-wrapper__inner-right">
                    <p>272 250 руб.</p>
                    <p>43 м2</p>
                    <p>90 дней</p>
                    <p>6</p>
                    <p>Кулика 18</p>
                </div>
            </div>
            <ul>
                <li>Штукатурка стен по маякам</li>
                <li>Грунтовка стен и потолка</li>
                <li>Монтаж натяжных потолков</li>
                <li>Шпатлёвка стен под обои</li>
                <li>Окраске стен</li>
                <li>Укладка плитки в с/у</li>
                <li>Прокладка электрики</li>
                <li>Установка плинтусов и откосов</li>
            </ul>
        </div>
        </div>
        <div class="slider__slide"><img src="../images/dollar.svg" alt="">
          <div class="slider-wrapper">
            <div class="slider-wrapper__inner">
                <div class="slider-wrapper__inner-left">
                <div class="slider-wrapper__inner-green">
                    <img src="../images/dollar.svg" alt="">
                    <p>Сумма:</p>
                </div>
                <div class="slider-wrapper__inner-green">
                    <img src="../images/grid.svg" alt="">
                    <p>Площадь:</p>
                </div>
                <div class="slider-wrapper__inner-green">
                    <img src="../images/calendar.svg" alt="">
                    <p>Срок:</p>
                </div>
                <div class="slider-wrapper__inner-green">
                    <img src="../images/home.svg" alt="">
                    <p>Комнат:</p>
                </div>
                <div class="slider-wrapper__inner-green">
                    <img src="../images/map-pin.svg" alt="">
                    <p>Адрес:</p>
                </div>
                <div class="slider-wrapper__inner-green">
                    <img src="../images/file-text.svg" alt="">
                    <p>Перечень работ:</p>
                </div>
            </div>
                <div class="slider-wrapper__inner-right">
                    <p>272 250 руб.</p>
                    <p>43 м2</p>
                    <p>90 дней</p>
                    <p>7</p>
                    <p>Кулика 18</p>
                </div>
            </div>
            <ul>
                <li>Штукатурка стен по маякам</li>
                <li>Грунтовка стен и потолка</li>
                <li>Монтаж натяжных потолков</li>
                <li>Шпатлёвка стен под обои</li>
                <li>Окраске стен</li>
                <li>Укладка плитки в с/у</li>
                <li>Прокладка электрики</li>
                <li>Установка плинтусов и откосов</li>
            </ul>
        </div>
        </div>
      </div>
      <nav class="slider__nav">
        <button class="slider__nav-btn slider__nav_prev"><svg xmlns="http://www.w3.org/2000/svg" width="54" height="54" viewBox="0 0 54 54" fill="none">
          <path d="M33.75 40.5L20.25 27L33.75 13.5" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
        </svg></button>
        <button class="slider__nav-btn slider__nav_next"><svg xmlns="http://www.w3.org/2000/svg" width="54" height="54" viewBox="0 0 54 54" fill="none">
          <path d="M20.25 40.5L33.75 27L20.25 13.5" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
        </svg></button>
      </nav>
    </div>
    <button class="examples__btn btn">Оставить заявку</button>
  </div>
</section>
